{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-4">
            &nbsp;
        </div>
        <div class="col-4">
            Listed Entertainers
        </div>
        <div class="col-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            &nbsp;
        </div>
        <div class="col-4">
            {% for entertainer in entertainers %}
                <div class="col-3 ent-listing">
                    {{ entertainer.title }}
                    <img class="card-img-top" src="{{ entertainer.profileImage.url }}" class="img-fluid center-block img-thumbnail" style="max-height:150px;" alt="Image">
                </div>
            {% endfor %}
        </div>
        <div class="col-4">
            &nbsp;
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static "js/custom.js" %}"></script>
{% endblock %}