{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-4">
            &nbsp;
        </div>
        <div class="col-4">
            Listed Entertainers
        </div>
        <div class="col-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            &nbsp;
        </div>
        <div class="col-4">
            {% for entertainer in entertainers %}
                <div class="col-3 ent-listing">
                    {{ entertainer.title }}
                    <img class="card-img-top" src="{% static 'entertainer/media/images/profiles/cb_profile.jpg' %}" class="img-fluid center-block img-thumbnail" style="max-height:150px;" alt="Card image cap">
                </div>
            {% endfor %}
        </div>
        <div class="col-4">
            &nbsp;
        </div>
    </div>
{% endblock %}
